*{
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}
.container1{
    height: 60vh;
    background-color: #1f2937;
}
.nav{
    color: #F9FAF8;
    padding: 5px;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: space-between;
}
.hero-left{
    align-content: center;
    font-weight: 900;
    font-size: 24px;
    padding: 5px 5px 5px 0;
}
ul{
    display:flex;
    list-style: none;
}
li{
    padding: 10px;
}

.hero-section{
    height: 60%;
   
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh; display: flex;
    margin-bottom: 10vh;
}
.left-child{
    
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 50%;
    justify-content: flex-start
}
.right-child{
    background-color: #6e6e6ea6;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 50;
    color: #E5E7EB;
}
.subtext{
    font-size: 18px;
    font-weight: 50;
    color: #E5E7EB;
}
.signup{
    background-color:#346bc4;
    color:#F9FAF8;
    padding: 10px;
    border-radius: 10px;
    width: 20%;

}
.container2{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    height: 20%;
    align-content: center;
}
.cards{
    display: flex;
    height: 70%;
    width: 70vw;
    /* background-color: #E5E7EB; */
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: space-between;
    gap: 80px
}
.card-img{
    height: 80%;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.card-txt{
    margin-top: 10px;
    /* align-self: flex-end; */
    text-align: center;
    color: #1f2937;
}